@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mea+Culpa&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fffff0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* justify-content: center; */
}

.card {
    animation: cardPop 1s ease;
}

.card-front,
.card {
    position: relative;
    width: 650px;
    height: 400px;
    background-color: #e74c3c;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* .card-front{
    animation: up 3s linear infinite;
} */

.card-front img {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
}



/* Text */
h1,
h2 {
    position: absolute;
    font-family: "Space Mono";
    color: #fffff0;
}

.container h2 {
    font-size: 1.4em;
    right: -5px;
    top: -15px;
}

h2 {
    position: absolute;
    bottom: 120px;
}

.hide {
    display: none !important;
}

span {
    font-family: "Mea Culpa";
    font-size: 6em;
    color: white;
    font-weight: 500;
    /* font-size: ; */
}


/* Buttons */
.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

button {
    padding: 12px 25px;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#yesBtn {
    font-family: "Inter";
    background-color: white;
    color: black;
}

#noBtn {
    font-family: "Space Mono";
    background-color: red;
    color: white;
    transition: all 0.5s ease;
}


@keyframes cardPop {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes up {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}

/* Floating Hearts */
.hearts {
    position: absolute
}

.one,
.two,
.three,
.four,
.five {
    background-color: red;
    display: inline-block;
    height: 10px;
    margin: 0 10px;
    position: relative;
    transform: rotate(-45deg);
    width: 10px;
    top: -150px;
}

.one:before,
.one:after,
.two:before,
.two:after,
.three:before,
.three:after,
.four:before,
.four:after,
.five:before,
.five:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
}

.one:before,
.two:before,
.three:before,
.four:before,
.five:before {
    top: -5px;
    left: 0;
}

.one:after,
.two:after,
.three:after,
.four:after,
.five:after {
    left: 5px;
    top: 0;
}

.one {
    left: 10px;
    animation: heart 1s ease-out infinite;
}

.two {
    left: 30px;
    animation: heart 2s ease-out infinite;
}

.three {
    left: 50px;
    animation: heart 1.5s ease-out infinite;
}

.four {
    left: 70px;
    animation: heart 2.3s ease-out infinite;
}

.five {
    left: 90px;
    animation: heart 1.7s ease-out infinite;
}

@keyframes heart {
    0% {
        transform: translateY(0) rotate(-45deg) scale(0.3);
        opacity: 1;
    }

    100% {
        transform: translateY(-150px) rotate(-45deg) scale(1.3);
        opacity: 0.5;
    }
}

.heart {
    background-color: #d62828;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 110px;
    left: 105px;
    transform: rotate(-45deg);
    width: 30px;
    display: none;
}

.heart:before,
.heart:after {
    content: "";
    background-color: #d62828;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
}

.heart:before {
    top: -15px;
    left: 0;
}

.heart:after {
    left: 15px;
    top: 0;
}